<div class="list-container">
    <div class="list-header bg-primary">
        <h4>User list</h4>
        <div class="list-header-left-side">
            <div *ngIf="role === 'admin'">
                <ngbd-modal-add></ngbd-modal-add>
            </div>
            <div class="sign-out">
                <span class="text-white"> {{ role }} </span>
                <i (click)="logOut()" title="Log Out" class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </div>
    <div class="list-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" sortable="name">Name</th>
                    <th scope="col" sortable="area">Role</th>
                    <th scope="col" sortable="population">Email</th>
                    <th *ngIf="role === 'admin'">Edit state</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                    <th scope="row">{{ user.id }}</th>
                    <td> {{ user.name }} </td>
                    <td> {{ user.role }} </td>
                    <td> {{ user.email }} </td>
                    <td *ngIf="role === 'admin'" class="buttons-group">

                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header bg-primary">
                                <h4 class="modal-title text-white" id="modal-basic-title">Edit profile</h4>
                                <button type="button" class="close text-white" aria-label="Close"
                                    (click)="d('Cross click')" style="outline: none;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="edit-user" [formGroup]="profileForm" (ngSubmit)="updateUser(user)">
                                    <div class="form-group">
                                        <label for="new-name">Name:</label>
                                        <input 
                                            formControlName="name" required minlength="4"
                                            [(ngModel)]="user.name" type="text" id="new-name" name="name" class="form-control"
                                            [ngClass]="{'is-invalid':profileForm.get('name').touched && profileForm.get('name').invalid}" />
                                        <div *ngIf="profileForm.get('name').touched && profileForm.get('name').invalid" class="invalid-feedback">
                                            <div *ngIf="profileForm.get('name').errors.required">Name is required</div>
                                            <div *ngIf="profileForm.get('name').errors.minlength">Name must be at least 4 characters long</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-email">Email:</label>
                                        <input 
                                            formControlName="email" required email
                                            [(ngModel)]="user.email" type="text" id="new-email" name="email" class="form-control"
                                            [ngClass]="{'is-invalid':profileForm.get('email').touched && profileForm.get('email').invalid}" />
                                        <div *ngIf="profileForm.get('email').touched && profileForm.get('email').invalid" class="invalid-feedback">
                                            <div *ngIf="profileForm.get('email').errors.required">Email is required</div>
                                            <div *ngIf="profileForm.get('email').errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Select role</label>
                                            </div>
                                            <select 
                                                formControlName="role" required
                                                [(ngModel)]="user.role" class="custom-select" name="role" id="inputGroupSelect01"
                                                [ngClass]="{'is-invalid':profileForm.get('role').touched && profileForm.get('role').invalid}">
                                              <option value="admin">Admin</option>
                                              <option value="user">User</option>
                                            </select>
                                            <div *ngIf="profileForm.get('role').touched && profileForm.get('role').invalid" class="invalid-feedback">
                                                <div *ngIf="profileForm.get('role').errors.required">Please select role</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-password">Password:</label>
                                        <input
                                            formControlName="password" required minlength="4" 
                                            type="password" id="new-password" name="password" class="form-control"
                                            [ngClass]="{'is-invalid':profileForm.get('password').touched && profileForm.get('password').invalid}" />
                                        <div *ngIf="profileForm.get('password').touched && profileForm.get('password').invalid" class="invalid-feedback">
                                            <div *ngIf="profileForm.get('password').errors.required">Password is required</div>
                                            <div *ngIf="profileForm.get('password').errors.minlength">Password must be at least 4 characters long</div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button 
                                    type="button" class="btn btn-success" [disabled]="!profileForm.valid"
                                    (click)="c('Save click'); updateUser(user)">
                                    Save
                                </button>
                            </div>
                        </ng-template>

                        <button class="btn btn-warning" (click)="open(content)">Edit</button>

                        <button (click)="deleteUser(user)" class="btn-danger" ngbButtonLabel>
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="pagination">
            <ngb-pagination [collectionSize]="usersList.length" [pageSize]="pageSize" [(page)]="page"
                [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>