.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    h4 {
        margin: 0;
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.table td, table th {
    vertical-align: inherit;
}

.buttons-group {
    button {
        margin-left: 10px;
    }
}

.pagination {
    display: grid;
    justify-content: center;
    align-items: center;
}

.close {
    opacity: 0.8;
}

.edit-user {
    display: grid;
    gap: 15px;

    label {
        display: grid;
        transition: all 0.2s ease-in-out;
        color: #5f5f5f;
    }
}
