<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
        <h4 class="modal-title text-white" id="modal-basic-title">Create new profile</h4>
        <button type="button" class="close text-white" aria-label="Close" (click)="d('Cross click')" style="outline: none;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="add-user" [formGroup]="profileForm" (ngSubmit)="addNewUser()">
            <div class="form-group">
                <label for="add-user-name">Name:</label>
                <input 
                    formControlName="name" required minlength="4"
                    type="text" id="add-user-name" name="name" class="form-control"
                    [ngClass]="{'is-invalid':profileForm.get('name').touched && profileForm.get('name').invalid}" />
                <div *ngIf="profileForm.get('name').touched && profileForm.get('name').invalid" class="invalid-feedback">
                    <div *ngIf="profileForm.get('name').errors.required">Name is required</div>
                    <div *ngIf="profileForm.get('name').errors.minlength">Name must be at least 4 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <label for="add-user-email">Email:</label>
                <input 
                    formControlName="email" required email
                    type="email" id="add-user-email" name="email" class="form-control"
                    [ngClass]="{'is-invalid':profileForm.get('email').touched && profileForm.get('email').invalid}" />
                <div *ngIf="profileForm.get('email').touched && profileForm.get('email').invalid" class="invalid-feedback">
                    <div *ngIf="profileForm.get('email').errors.required">Email is required</div>
                    <div *ngIf="profileForm.get('email').errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Select role</label>
                    </div>
                    <select 
                        formControlName="role" required
                        class="custom-select" name="role" id="inputGroupSelect01"
                        [ngClass]="{'is-invalid':profileForm.get('role').touched && profileForm.get('role').invalid}">
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                    </select>
                    <div *ngIf="profileForm.get('role').touched && profileForm.get('role').invalid" class="invalid-feedback">
                        <div *ngIf="profileForm.get('role').errors.required">Please select role</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="add-user-pass">Password:</label>
                <input
                    formControlName="password" required minlength="4"
                    type="password" id="add-user-pass" name="password" class="form-control"
                    [ngClass]="{'is-invalid':profileForm.get('password').touched && profileForm.get('password').invalid}" />
                <div *ngIf="profileForm.get('password').touched && profileForm.get('password').invalid" class="invalid-feedback">
                    <div *ngIf="profileForm.get('password').errors.required">Password is required</div>
                    <div *ngIf="profileForm.get('password').errors.minlength">Password must be at least 4 characters long</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button 
            type="button" class="btn btn-success" 
            (click)="c('Save click'); addNewUser()"
            [disabled]="!profileForm.valid" >
            Create
        </button>
    </div>
</ng-template>

<button class="btn btn-outline-light" (click)="open(content)">Create</button>